body {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    color: #121c2d;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 40px;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .tabs {
    display: flex;
    gap: 2rem;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 30px;
  }
  
  .tabs span {
    font-size: 1.2rem;
    color: #666;
    padding-bottom: 8px;
    cursor: pointer;
  }
  
  .tabs .active {
    color: #121c2d;
    border-bottom: 3px solid #e80000;
    font-weight: 600;
  }
  
  .section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .properties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
  }
  
  .properties p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin: 8px 0;
  }
  
  .properties strong {
    font-weight: 700;
    display: inline-block;
    width: 130px;
  }
  
  .properties a {
    color: #1759db;
    text-decoration: none;
  }
  
  .media-section,
  .events-section {
    margin-top: 40px;
  }
  
  .events-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .events-box::-webkit-scrollbar {
    width: 8px;
  }
  
  .events-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  .event-item {
    border-bottom: 1px solid #e6e6e6;
    padding: 8px 0;
  }
  
  .event-item:hover {
    background-color: #f6f8fc;
  }
  
  .event-header {
    cursor: pointer;
    font-weight: 500;
    color: #0263e0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .event-details {
    display: none;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    margin-top: 6px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    line-height: 1.5;
  }

  .call-status{
    color: rgb(0, 116, 0);
    text-transform: uppercase;
  }


.response-body {
  background: #ffffff;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 14px;
  overflow-y: auto;
}

.event-subheading{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}


#xml-output-container {
  white-space: pre-wrap; /* Ensures newlines are respected */
  font-family: monospace;
  background: #282c34; /* Dark background like a code editor */
  color: #abb2bf; /* Default text color */
  padding: 10px;
  border-radius: 5px;
}

.xml-tag-name {
  color: #e06c75;
}



.xml-equals {
  color: #abb2bf;
}

.xml-attr-value {
  color: #d19a66; 
}

.xml-comment-or-declaration {
  color: #5c6370; 
  font-style: italic;
}

.xml-bracket {
  color: #56b6c2;
}